@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

body {
font-size: 100%;
line-height: 1.5;
font-family: 'Roboto', sans-serif;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

img {
width: 100%;
border: 4px solid #bbb;
}

.active img {
border-color: #666;
}

#imageGallery {
list-style: none;
display: flex;
}

#imageGallery li {
flex: 1 1 auto;
}

#content {
	position: relative;
}

#content p {
	position: absolute;
	bottom: 0.5rem;
	color: #fff;
	padding:1rem;
	background: rgba(0, 0, 0, 0.5);
}
#content img{
	border: none;
}